!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table th:fragment="job-table" th:each="job : ${jobs}" class="job-listing">
    <tbody>
    <tr>
        <td align="center">ID:</td>
        <td th:text="${job.id}">id</td>
    </tr>

    <tr>
        <td align="center">Name:</td>
        <td th:text="${job.name}">id</td>
    </tr>

    <tr>
        <td align="center">Employer:</td>
        <td th:text="${job.employer}">employer</td>
    </tr>

    <tr>
        <td align="center">Location:</td>
        <td th:text="${job.location}">location</td>
    </tr>

    <tr>
        <td align="center">Position Type</td>
        <td th:text="${job.positionType}">positionType</td>
    </tr>

    <tr>
        <td align="center">Core Competency:</td>
        <td th:text="${job.coreCompetency}">coreCompetency</td>
    </tr>
    </tbody>
</table>
</body>
</html>